%p
  - if locals[:bin]
    =link_to  googlemaps_bins_url, 'data-turbolinks': "false" do
      Bins
      %i.fas.fa-map
    |
  - if locals[:route]
    =link_to  routemaps_bins_url, 'data-turbolinks': "false" do
      Route
      %i.fas.fa-map
    |
  - if locals[:collection]
    =link_to routes_collections_url do
      Collections
      %i.fas.fa-list
    |
  - if locals[:showroutes]
    =link_to 'Manage Routes', routes_index_url
    |
  - if locals[:admin]
    =link_to admin_entities_url do
      Admin
      %i.fas.fa-tools
