- content_for :head do
  :javascript
    console.log("collectmap html page ")
    function binURL() { return "/bins.json?icon=route"; };
    function mapCenter() { return {
      lat: #{@mybin.latitude},
      lng: #{@mybin.longitude}   } };
     console.log("setting binURL to: ", binURL, "map center", mapCenter())

%h4 Collecton Map (tbd)
#map{:style => "height: 400px; width: 400;"}
