- content_for :head do
  :javascript

    var geooptions = {
    enableHighAccuracy: true,
    timeout: 10000,
    maximumAge: 0
    };

    function geosuccess(pos) {
    var crd = pos.coords;
    var token = document.getElementsByName("csrf-token")[0].content;
    console.log(`Latitude : ${crd.latitude}`);
    console.log(`Longitude: ${crd.longitude}`);
    var data2={'latitude': crd.latitude,'accuracy': crd.accuracy, 'longitude': crd.longitude, 'actiontype': "#{@at.id}", 'entity':"#{@at.id}"  };
    fetch('/v1/entities/checkin_set_location', {method: 'POST',
         headers: {'X-Requested-With': 'XMLHttpRequest', 'X-CSRF-Token': token, 'Content-Type': 'application/json', 'Accept': 'application/json'},
         body: JSON.stringify(data2)  });
    };

    function geoerror(err) {
       console.warn(`ERROR(${err.code}): ${err.message}`);
    };

    document.addEventListener('readystatechange', event => {
    // When HTML/DOM elements are ready:
    if (event.target.readyState === "interactive") {   //does same as:  ..addEventListener("DOMContentLoaded"..
       console.log("start getUserLocation");
       navigator.geolocation.getCurrentPosition(geosuccess, geoerror, geooptions);
       console.log("after getUserLocation");
    }
    // When window loaded ( external resources are loaded too- `css`,`src`, etc...)
    //if (event.target.readyState === "complete") {
    //    console.log("external resoursces done");
    //}
    });



%h3
  Checkin for [
  = @bin.name
  ]
%h4
  Collection tracker is:
  -#= @at.inspect
  =@at.created_at.in_time_zone('Asia/Tokyo') if !@at.nil?

= render 'bins/bins', locals: {bin: @bin, domain: @mydomain, proto: @proto }

%h4 Last five collections
- clist=@bin.actiontypes.order('created_at DESC').limit(5)

=render 'api/v1/entities/collections_table', locals: { clist: clist}
