%dt.attribute-label{:id => "entity.qrcode"} Checkin QR Code
%dd.attribute-data
  %h2= locals[:page].resource.name
  %h4= locals[:page].resource.id
  = locals[:page].resource.svg_update_location_qrcode.html_safe
