%dt.attribute-label{:id => "entity.location"} Update Location
%dd.attribute-data
  = link_to "location", "/admin/locations/#{locals[:page].resource.location.id}" if !locals[:page].resource.location.nil?
