- bc_headers = [  'name', 'suco','date','ago time', 'id','latitude', 'longitude', 'contact','telephone' ]
= CSV.generate_line(bc_headers).strip.html_safe

- @pickups.each do |pickup|
  - row=[pickup.entity.name, pickup.entity.suco, pickup.created_at, time_ago_in_words(pickup.created_at) ,pickup.id, pickup.entity.latitude, pickup.entity.longitude, pickup.entity.contactName, pickup.entity.telephone]
  = CSV.generate_line(row).strip.html_safe
