
%h2
  List of collections
  = link_to "/routes/collections.csv"  do
    %i.fas.fa-download




=render 'api/v1/entities/collections_table', locals: { clist: @pickups}


.row
  = paginate @pickups, theme: 'twitter-bootstrap-4'

.row
  = render 'bins/links', locals: { route: true, collection: false, bin: true, showroutes: false, admin: true}
