
%h2
  List of collections
  = link_to "/routes/collections.csv"  do
    %i.fas.fa-download

%h6
  Run time (GMT +9)
  = Time.now.in_time_zone(SETTINGS.timezone)

%p
  Ordered most recent first to last by created_at timestamp



=render 'api/v1/entities/collections_table', locals: { clist: @pickups}
%p
  Red distance unknown, Green distance less than 100m, Yellow distance less than 1km


.row
  = paginate @pickups, theme: 'twitter-bootstrap-4'

.row
  = render 'bins/links', locals: { route: true, collection: false, bin: true, tile: true, showroutes: false, admin: true}
