%h2
  Tile View All:
%h6
  Run time (GMT +9)
  = Time.now.in_time_zone('Asia/Tokyo')
%p
  This is a view of all route members which may be more or less than the number of bins as bins
  can be absent or in two routes.  But it gives a condensed view of entire list of collection points
  A collection point may be in two different routes for different days which is why the list may exceed the number of bins.


.row.no-gutters
  - collection = @route_members
  - collection.each do |rm|
    = render 'tile', locals: { routemember: rm }

.row
  = render 'bins/links', locals: { route: true, collection: true, bin: true}
